section {
   border-bottom: 10px solid rgba(200, 125, 82, 1);
}

.hero {
   height: 550px;
   max-width: 100%;
}

.hero-image {
   height: 550px;

   & img {
      height: 100%;
      object-fit: cover;
      width: 100%;
   }
}

.logo-container {
   display: flex;
   justify-content: center;
   position: relative;
   top: -90px;

   img {
      height: 168px;
   }
}

.focused-message {
   position: relative;
   top: -45px;
   text-align: center;
   margin-bottom: 20px;

   h2 {
      font-size: 36px;
      font-weight: 800;
      margin: 0 0 18px 0;
   }
   
   p {
      font-size: 24px;
      font-weight: 500;
      margin: 0;
   }
}
