<section class="main-content">
   <h2 i18n>Shopping Cart<hr /></h2>
   <div class="cart-wrapper" *ngIf="cart$ | async as cart">
     <div class="cart-items-wrapper">
       <div class="cart-item" *ngFor="let item of cart.items; index as i;">
         <div class="cart-item-image-wrapper">
           <img src={{item.image}} alt="image of {{item.name}}" i18n-alt/>
         </div>
         <div class="cart-item-details-wrapper">
           <p class="cart-item-number" i18n>ITEM #{{i + 1}}</p>
           <p class="cart-item-name">{{item.name}}</p>
           <p class="cart-item-description">{{item.description}}</p>
           <div class="quantity-selector-wrapper">
             <div class="quantity-selector">
               <button>-</button>
               <span>1</span>
               <button>+</button>
             </div>
             <button class="delete" i18n>Delete</button>
           </div>
         </div>
         <div class="cart-item-price-wrapper">
           <p class="cart-item-price">{{item.price | currency}}</p>
         </div>
       </div>
      </div>
     <div class="subtotal-wrapper">
       <form>
         <div class="row">
           <p i18n>Subtotal</p>
           <p>{{cart.subtotal | currency}}</p>
         </div>
         <div class="row">
           <p i18n>Shipping</p>
           <p>{{cart.shipping | currency:'USD'}}</p>
         </div>
         <div class="row">
           <p i18n>Sales Tax</p>
           <p>--</p>
         </div>
         <div class="row">
           <hr />
         </div>
         <div class="row">
           <p i18n>Estimated Total</p>
           <p>{{cart.total | currency}}</p>
         </div>
         <div class="row">
           <hr>
         </div>
         <div class="row">
           <input type="text" name="discount-code" id="discount-code" placeholder="Discount code or gift card" i18n-placeholder/>
           <button i18n>Apply</button>
         </div>
         <div class="row">
           <hr>
         </div>
         <div class="row">
             <input type="submit" name="submit" id="submit" value="Checkout" i18n-value/>
         </div>
         <div class="disclaimer" *ngIf="cart.items.length > 0">
              <p i18n class="disclaimer">Shipping {cart.items.length, plural,
                =1 {one} 
                other {multiple {cart.refrigerated,select, true {refrigerated} false {non-refrigerated}}}} items</p>
         </div>
       </form>
     </div>
   </div>
 </section>
