/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
   background-color: rgba(253, 246, 246, 1);
   font-family: 'Work Sans', sans-serif;
   font-size: 16px;
   margin: 0 auto;
   max-width: 1486px;
}